body {
  background-color: #feca57;
  font-family: "Lato", Arial, sans-serif;
  margin: 0;
}

#title {
  width: 50%;
  margin: auto;
}

h1 {
  margin: 30px -27px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 7em;
  line-height: .75em;
}

#about {
  font-size: 2em;
  margin-left: -26px;
  margin-top: -10px;
}

#container {
  width: 50%;
  background-color: white;
  margin: auto;
  padding: 1.5em;
  margin-bottom: 50px;
}

form {
  width: 50%;
}

#nav {
  text-align: center;
}

input, select {
  display: block;
  margin: 10px 0px;
  border: 1.5px solid lightgrey;
  padding: 10px;
  width: 75%;
}

input:focus, select:focus {
  outline-color: #00d2d3
}

#success {
  display: none;
}

#submit {
  border: none;
  padding: 12px 30px;
  margin-top: 30px;
  -webkit-transition: .35s;
    transition: .35s;
}

#submit:hover {
  background-color: darkgrey;
}

#submit:active {
  background-color: #00d2d3
}

#submit:focus {
  outline-color: #00d2d3
}

button {
  font-size: 1em;
  border: none;
  margin: 10px;
  width: 45%;
  padding: 20px 50px;
  -webkit-transition: .35s;
    transition: .35s;
}

button:hover {
  background-color: darkgrey;
}

button:active {
  background-color: #00d2d3;
}

button:focus {
  outline-color: #00d2d3;
}

#form, #table {
  display: none;
}

table {
  width: 100%;
}

table, th, td{
  border: solid lightgrey 1px;
  border-collapse: collapse;
  padding: 15px;
}

td {
  overflow: hidden;
}

table tr:nth-child(even) {
    background-color: #eee;
}

@media (max-width: 1100px) {

  #title {
    width: 80%;
  }

  h1 {
    margin: 20px 10px;
    font-size: 6em;
  }

  #about {
    margin: 0 10px 20px 10px;
  }

  button {
    width: 100%;
    margin: 5px 0 5px 0;
  }

  #container {
    width: 75%;
  }

  table {
    width: 100%;
  }

  td {
    overflow: hidden;
    padding: 5px;
  }


  form {
    width: 100%;
    padding: 0;
  }

  input, select {
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
  }

}

@media (max-width: 620px) {

  #title {
    width: 100%;
    margin: 0;
  }

  h1 {
    margin: 20px 10px;
    font-size: 6em;
  }

  #about {
    margin: 0 10px 20px 10px;
  }

  button {
    width: 100%;
    margin: 5px 0 5px 0;
  }

  #container {
    padding: 1.5em;
    margin: 0;
    margin-top: 50px;
    width: 100%;
  }

  table {
    width: 100%;
  }

  #restaurantlist {
    overflow-x: scroll;
  }

  td {
    overflow: hidden;
    padding: 5px;
  }

  form {
    width: 100%;
    padding: 0;
  }

  input, select {
    width: 99%;
    margin: 10px 0;
    padding: 10px 0;
  }

}
